:root{--side-bar-bg-color:#fafafa;--control-text-color:#777}html{font-size:16px;-webkit-font-smoothing:antialiased}
body{font-family:"Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,'Segoe UI Emoji',sans-serif;color:#333;line-height:1.6;margin:0}
#write{max-width:860px;margin:0 auto;padding:30px;padding-bottom:100px}#write>ul:first-child,#write>ol:first-child{margin-top:30px}
a{color:#4183c4}h1,h2,h3,h4,h5,h6{position:relative;margin-top:1rem;margin-bottom:1rem;font-weight:bold;line-height:1.4;cursor:text}
h1:hover a.anchor,h2:hover a.anchor,h3:hover a.anchor,h4:hover a.anchor,h5:hover a.anchor,h6:hover a.anchor{text-decoration:none}
h1 tt,h1 code{font-size:inherit}h2 tt,h2 code{font-size:inherit}h3 tt,h3 code{font-size:inherit}
h4 tt,h4 code{font-size:inherit}h5 tt,h5 code{font-size:inherit}h6 tt,h6 code{font-size:inherit}
h1{font-size:2.25em;line-height:1.2;border-bottom:1px solid #eee}h2{font-size:1.75em;line-height:1.225;border-bottom:1px solid #eee}
h3{font-size:1.5em;line-height:1.43}h4{font-size:1.25em}h5{font-size:1em}h6{font-size:1em;color:#777}
p,blockquote,ul,ol,dl,table{margin:.8em 0}li>ol,li>ul{margin:0}hr{height:2px;padding:0;margin:16px 0;background-color:#e7e7e7;border:0 none;overflow:hidden;box-sizing:content-box}
li p.first{display:inline-block}ul,ol{padding-left:30px}ul:first-child,ol:first-child{margin-top:0}
ul:last-child,ol:last-child{margin-bottom:0}blockquote{border-left:4px solid #dfe2e5;padding:0 15px;color:#777}
blockquote blockquote{padding-right:0}table{padding:0;word-break:initial}table tr{border:1px solid #dfe2e5;margin:0;padding:0}
table tr:nth-child(2n),thead{background-color:#f8f8f8}table th{font-weight:bold;border:1px solid #dfe2e5;border-bottom:0;margin:0;padding:6px 13px}
table td{border:1px solid #dfe2e5;margin:0;padding:6px 13px}table th:first-child,table td:first-child{margin-top:0}
table th:last-child,table td:last-child{margin-bottom:0}.CodeMirror-lines{padding-left:4px}
.code-tooltip{box-shadow:0 1px 1px 0 rgba(0,28,36,.3);border-top:1px solid #eef2f2}
.md-fences,code,tt{border:1px solid #e7eaed;background-color:#f8f8f8;border-radius:3px;padding:0;padding:2px 4px 0 4px;font-size:.9em}
code{background-color:#f3f4f4;padding:0 2px 0 2px}@media print{html{font-size:13px}
table,pre{page-break-inside:avoid}pre{word-wrap:break-word}}.download-btn{display:inline-block;margin-right:8px;background:#eee;border-radius:4px;font-size:12px;color:white;margin-top:12px;cursor:pointer;height:27px;overflow:hidden}
.download-btn .download-label{padding:4px 4px;display:inline-block;min-width:100px;text-align:center}
.download-btn.mac{background:#2a3333}.download-btn.windows{background:#448ccb}.download-btn.linux{background:#5c4261}
.download-extension{padding:4px 4px;display:inline-block;background:#0000005c;color:#ddd;text-transform:uppercase;font-family:monospace;opacity:.8;position:relative;top:-1px}
.download-extension:hover{opacity:1}@media(prefers-color-scheme:dark){body{color:#eee;background:#303030}
a{color:#8dcafb}h2{border-bottom:0}.md-fences,code,tt{background:#333;border-color:#555}
.note{background:#ebf95d;color:black}.download-btn.mac{background:#dedede;color:black}
}