@charset "utf-8";
/* CSS Document */

.ad{
	background: url("./images/imgshang.jpg") no-repeat;
    width: 150px;
    height: 300px;

    position: fixed;
    top: 87%;
    margin-top: -150px;
        }

.left{
	left: 0;
        }