.btn_class {
	font-size:28px;
	font-family:Impact;
	font-weight:normal;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:0px solid #d133ed;
	padding:6px 11px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #da3df6), color-stop(100%, #b51ed0) );
	background:-moz-linear-gradient( center top, #da3df6 5%, #b51ed0 100% );
	background:-ms-linear-gradient( top, #da3df6 5%, #b51ed0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da3df6', endColorstr='#b51ed0');
	background-color:#da3df6;
	color:#ffffff;
	display:inline-block;
 	-webkit-box-shadow:inset -14px 0px 50px -50px #ee97fe;
 	-moz-box-shadow:inset -14px 0px 50px -50px #ee97fe;
 	box-shadow:inset -14px 0px 50px -50px #ee97fe;
}.btn_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #b51ed0), color-stop(100%, #da3df6) );
	background:-moz-linear-gradient( center top, #b51ed0 5%, #da3df6 100% );
	background:-ms-linear-gradient( top, #b51ed0 5%, #da3df6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b51ed0', endColorstr='#da3df6');
	background-color:#b51ed0;
}.btn_class:active {
	position:relative;
	top:1px;
}
